# ── ProvvTecno — Variables de entorno ───────────────────────────────────────
# Copia este archivo como .env y ajusta los valores

NODE_ENV=development
PORT=4000

PSE_API_URL=https://sandbox.achcolombia.com/pse/api/v1
PSE_API_KEY=tu_api_key_aqui

CRYPTO_SECRET=provvtecno-secret-2026-local